<div style="text-align: center;">
  <h2>About Page</h2>
  <p>This is some arbitrary text on the about page.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum molestiae officiis provident! Accusamus aut autem cum illo impedit itaque praesentium ratione repellendus. Dicta iste nesciunt perspiciatis recusandae sequi. Expedita, voluptas.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum molestiae officiis provident! Accusamus aut autem cum illo impedit itaque praesentium ratione repellendus. Dicta iste nesciunt perspiciatis recusandae sequi. Expedita, voluptas.</p>
  <img src="https://img.freepik.com/free-photo/beautiful-seaside-landscape_23-2150423932.jpg" alt="Image 1" style="display: block; margin: 0 auto; width: 600px;">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum molestiae officiis provident! Accusamus aut autem cum illo impedit itaque praesentium ratione repellendus. Dicta iste nesciunt perspiciatis recusandae sequi. Expedita, voluptas.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum molestiae officiis provident! Accusamus aut autem cum illo impedit itaque praesentium ratione repellendus. Dicta iste nesciunt perspiciatis recusandae sequi. Expedita, voluptas.</p>
  <img src="https://ecofabrica.com.ua/files/cache/73/cf/fc/ecofabrica-pshenichnoye-pole-1635575977.jpg" alt="Image 2" style="display: block; margin: 0 auto; width: 600px;">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum molestiae officiis provident! Accusamus aut autem cum illo impedit itaque praesentium ratione repellendus. Dicta iste nesciunt perspiciatis recusandae sequi. Expedita, voluptas.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum molestiae officiis provident! Accusamus aut autem cum illo impedit itaque praesentium ratione repellendus. Dicta iste nesciunt perspiciatis recusandae sequi. Expedita, voluptas.</p>
  <img src="  https://i.pinimg.com/564x/1d/73/bf/1d73bf84acef487ca8425d96c051f030.jpg" alt="Image 3" style="display: block; margin: 0 auto; width: 600px;">
</div>
